.team-list-icons {
  display: flex;
  justify-content: center;
}

.team {
  background-color: #f5f4fa;
}

.team-social-icons + .team-social-icons {
  margin-left: 10px;
}
.team-social-link {
  width: 44px;
  height: 44px;
  background-color: var(--first-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--first-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-network {
  fill: #afb1b8;
}

.team-social-link:hover,
.team-social-link:focus {
  background: var(--logo-and-active-color);
}

.team-social-link:hover .team-social-network,
.team-social-link:focus .team-social-network {
  fill: var(--first-color);
}

.team-list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
  margin-bottom: 0;
}
.team-item + .team-item {
  margin-left: 30px;
}
.team-item {
  /* margin-right: 30px; */
  margin-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--first-color);
}
.team-item {
  flex-wrap: wrap;
}
.team-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);

  margin-bottom: 50px;
  padding-top: 94px;
}

.team-name-profil {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-title-name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 10px;
  text-align: center;
}

.item-profil {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);

  text-align: center;
  margin-bottom: 16px;
}
